    <div class="container">
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>This is a Ember.js template for a simple search interfance for IDOL OnDemand Indexes </p>
        <p><a href="http://idolondemand.com" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>

      <div class="page-header">
        <h1>Configuration</h1>
      </div>

      <div>
        <p>
        In the app/models/iodadapter.js file you'll want to change a few values

        <ul>
        <li><strong>Apikey :</strong> Set the value of your apikey here</li>
        <li><strong>Apiurl :</strong> Make sure this is set to "http://api.idolondemand.com"</li>
        <li><strong>Apiindex :</strong> Make sure this is set to the index you want to query. If you don't have an index yet, try news-eng</li>
        <li><strong>parametric_field :</strong> Beta Feature - Currently only the category field is supported for custom indexes</li>
        <li><strong>printfields :</strong> Beta Feature - The fields that will diplay in the doucment view</li>

        </ul>

        </p>

      </div>

    </div>